<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="connstr" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}data.mdb"/>
    <add name="ConnectionString" connectionString="server=hds-063.hichina.com;database=hds0630135_db;uid=hds0630135;pwd=key888888"/>
    <add name="PaiZhaoConnectionString" connectionString="server=.;database=hds0630135_db;uid=hds0630135;pwd=key888888"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
</configuration>